#region Debugging
EnableBugTracker=false
EnableDebugBridge=false
EnableLeakCanary=false
EnableLogger=false
#endregion

#region Server - Common
ServerConnectionTimeout=15L
ServerReadTimeout=20L
ServerWriteTimeout=20L
#endregion

#region Server - Development
DevServerLoggingLevel="body"
DevServerUrl="https://lab2.itcraft.pl/18000/api/"
#endregion

#region Server - Production
ProdServerLoggingLevel="none"
ProdServerUrl="https://lab2.itcraft.pl/18000/api/"
#endregion
